.logoImage {
    height: auto;
    width: 60vw;
}

.logoFooterContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

.logoFooter {
    display: block;
    height: 50%;
    width: auto;
}

@media screen and (max-width: 850px) {
    .logoImage {
        height: auto;
        width: 100vw;
    }
}