.logoContainer {
    height: 60%;
}

.logoImage {
    display: block;
    height: 100%;
}

.logoFooterContainer {
    height: 100%;
}

.logoFooter {
    display: block;
    height: 100%;
}

.heroImageContainer {
    height: 100%;
    width: 100%;
}

.heroImage {
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}