.logoImage {
    width: 100%;
    height: auto;
}

.heroImageContainer {
    z-index: -1;
    width: 100%;
}

.heroImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}