.aboutSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10% 10% 0% 10%;
}

@media screen and (max-width: 1200px) {
    .aboutSection {
        flex-direction: column;
    }
}