.navbarContainer {
    background: #202020;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    animation: fadeIn 5s;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    width: 85vw;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Changes Nav Bar width to 100vw at >600px */
@media screen and (max-width: 600px) {
    .navBar {
        width: 100vw;
    }
}