.aboutHeaderText {
    text-align: center;
    text-shadow: 3px 4px 6px #a8a7a7;
    font-size: 300%;
}

.aboutTextContainer {
    padding: 1% 6% 6% 6%;
    display: flex;
    flex-direction: column;
}