.connectInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    text-align: center;
}

.connectHeaderText {
    font-size: 300%;
}