.faqsContainer {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 2%;
    border: 1px solid black;
}

@media screen and (max-width: 650px) {
    .faqsContainer {
        width: 90%;
    }
}