.pageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .pageContainer {
        flex-direction: column;
        justify-content: center;
    }
}