.navButton {
    text-decoration: none;
    color: #99a9b5;
    font-family: 'Urbanist',
        sans-serif;
    font-size: 150%;
}

/* Changes Nav Bar Font Size to 100% at >600px */
@media screen and (max-width: 600px) {
    .navButton {
        font-size: 100%;
    }
}