.socialsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: fit-content;
    height: 100%;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    color: #fff;
}