.connectPageContainer {
    margin: 2.5%;
    font-size: 85%;
}

.pageContainer {
    margin: 5% 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.connectHeaderText {
    text-align: center;
    font-size: 200%;
}

@media screen and (max-width: 1200px) {
    .pageContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .connectPageContainer {
        margin: 10% 0 10% 0;
    }
}