.servicesButtonContainer {
    background-color: transparent;
}

.button {
    background-color: transparent;
    color: #000;
    font-weight: bolder;
    padding: 15px;
    border: #000 solid 1px;
    border-radius: 5px;
    text-align: center;

}

.buttonContainer:hover {
    background-color: rgba(70, 202, 246, 0.498); 
}

