.buttonContainer {
    background-color: transparent;
}

.button {
    background-color: transparent;
    color: #fff;
    font-weight: bolder;
    padding: 15px;
    /* width: 120%; */
    border: #fff solid 1px;
    border-radius: 5px;
    text-align: center;

}

.buttonContainer:hover {
    background-color: rgba(70, 202, 246, 0.498); 
}

