.servicesContainer {
    /* background-color: #a38db2; */
    background-color: rgb(113, 1, 113);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    padding: 20% 0 20% 0;
    text-align: center;
}