.servicesContainer {
    background-color: rgb(141, 161, 178);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    padding: 5% 0 10% 0;
    text-align: center;
}