.serviceContainer {
    width: 25%;
}

.headerLarge {
    font-size: 150%;
    font-weight: bolder;
}

.serviceName {
    font-weight: bolder;
}

.serviceText {
    font-size: 75%;
}

@media screen and (max-width: 770px) {
    .serviceContainer {
        width: 100%;
    }
}