.serviceContainer {
    width: 25%;
}

.headerLarge {
    text-shadow: 3px 4px 6px #403b42;
    color: #000;
    font-size: 150%;
    font-weight: bolder;
}

.serviceName {
    text-shadow: 3px 4px 6px #403b42;
    font-weight: bolder;
    font-size: 120%;
}

.serviceNameAlt {
    text-shadow: 3px 4px 6px #403b42;
    margin-top: 50px;
    font-weight: bolder;
    font-size: 120%;
}

.serviceText {
    font-size: 75%;
}

@media screen and (max-width: 770px) {
    .serviceContainer {
        width: 100%;
        margin: 5% 0 5% 0;
    }
}

@media screen and (max-width: 770px) {
    .serviceNameAlt {
        margin-top: 0;
    }
}