.contactTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactTextHeader {
    font-weight: bolder;
    font-size: 150%;
    text-align: center;
}

.contactText {
    text-align: center;
    font-size: 75%;
}